[run]
# don't collect the plugins subdirectories
omit =
    plugins/*/env/*.py
    plugins/conftest.py
    plugins/*/*/tests/*
    tests/plugins/*
    sideboard/tests/*
    tests/*

include =
    sideboard/*
