__pycache__
env/
build/
dist/
.project
.pydev*
.idea/
*.egg-info/
*.egg
*.pyc
*.pyo
development.ini
test.ini
sideboard/docs
plugins/*
!plugins/conftest.py
data/sessions/*
*-bootstrap.py
data/*.db
.tox
node_modules/
.cache
distribute-*.tar.gz
distribute_setup.py
.eggs/
.coverage
