description: Sideboard Framework
name: sideboard
before_install: package-support/preinstall.sh
after_install: package-support/postinstall.sh
config_files:
  /etc/sideboard/sideboard-server.cfg: package-support/sideboard-server.cfg
  /etc/init.d/sideboard: package-support/init.d/sideboard
  /etc/sysconfig/sideboard: package-support/sysconfig/sideboard
depends:
  - python27
