cherrypy==17.3.0
configobj>=5.0.5
Jinja2>=2.7
logging_unterpolation>=0.2.0
paver>=1.2.2
pip>=1.5.6
psutil>=5.4.1
python-prctl>=1.6.1; 'linux' in sys_platform
redis==4.4.4
requests>=2.2.1
rpctools>=0.3.1
sh>=1.09
six>=1.5.2
SQLAlchemy>=1.1.0
wheel>=0.24.0
ws4py>=0.3.2
