<!doctype html>
<html>
    <head>
        <title>Sideboard Plugins</title>
    </head>
    <body>
        <h2>Welcome to Sideboard (version {{ version|default('not specified', true) }})</h2>
        <p><a href="/docs">Sideboard documentation</a></p>
        <p>There are {{ plugins|length }} plugins installed</p>
        <table cellspacing="5" cellpadding="5">
        {% for path, plugin in plugins.items()|sort %}
            <tr>
                <td><ul style="margin:0px"><li/></ul></td>
                <td><b>{{ plugin.name }}</b></td>
                <td>(version {{ plugin.version|default('not specified', true) }})</td>
                <td>
                    {% for path in plugin.paths %}
                        <a href="{{ path }}/">{{ path }}</a>
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
        </table>
    </body>
</html>
