from __future__ import unicode_literals, print_function

# paver docs pretty consistently want you to do this
from paver.easy import *
from paver.path import path  # primarily here to support the rmtree method of a path object

import pkg_resources
 
try:   
    pkg_resources.get_distribution("{{ module }}")
except pkg_resources.DistributionNotFound:
    raise BuildFailure("This pavement script must be run from within a configured virtual environment.")

from wt.buildutils.paver.tasks import *