from __future__ import unicode_literals

from sideboard.lib import entry_point, log
from {{ module }} import __version__

@entry_point
def {{ module }}(*args):
    """
    Basic cli entry, logs the version of the plugin and then exits. Override after creating the
    plugin
    """

    log.info('the version of {} is {}', '{{ module }}', __version__)
