<!doctype html>
<html>
    <head><title>$(( plugin ))$ skeleton page</title></head>
    <body>
        $(% if header %)$
            <h1>Hello $(( plugin ))$ developer!</h1>
        $(% endif %)$
    </body>
</html>
