from __future__ import unicode_literals
import uuid

import sqlalchemy
from sqlalchemy.schema import Column

from {{ module }} import config
from sideboard.lib.sa import declarative_base, SessionManager, UUID


@declarative_base
class Base(object):
    id = Column(UUID(), primary_key=True, default=uuid.uuid4)

# put your table declarations here and have them extend Base

class Session(SessionManager):
    engine = sqlalchemy.create_engine(config['sqlalchemy.url'])
